
<br>
<div  class="uk-container-center">
  <div *ngIf="school">
        <ul>
          <h2 class="uk-modal-title">{{school.nameOfSchool}}</h2>
          <!--<li><label>name of School:</label> {{school.nameOfSchool}}</li>-->
          <li><label>Provice:</label> {{school.province}}</li>
          <li><label>Email:</label> {{school.email}}</li>
          <li><label>phone number:</label> {{school.phoneNumber}} </li>
          <li><label>rating: coming soon</label></li>
        </ul>
       <span class="uk-button-primary" *ngIf='school.active' >Inactive</span>
      <button class="uk-button uk-button-default uk-margin-small-right" *ngIf='!school.active' type="button"
      uk-toggle="target: #modal-school">Active</button>

      <span class="uk-button" (click)='deleteSchool(school.$Key)'>Delete</span>

          <!-- This is an anchor toggling the modal
        <a href="#modal-example" uk-toggle>Open</a>-->

        <!-- This is the modal -->
      <div id="modal-school" uk-modal>
          <div class="uk-modal-dialog uk-modal-body" [formGroup]="schoolForm" >
            <form (ngSubmit)="updateActive(school.$Key,$event)">
              <h1 class="uk-modal-title">{{school.nameOfSchool}}</h1>
              <h2 class="uk-modal-title">Please update school information</h2>
          <label>Nanny School :</label>
                <input class="uk-input" value={{school.nameOfSchool}}  name="nameOfSchool" >
          <label>province :</label>
                <input class="uk-input" value={{school.province}}   name="province" >
          <label>email :</label>
                <input class="uk-input" value={{school.email}} name="email" >
         <label>PhoneNumber :</label>
                <input class="uk-input" value={{school.phoneNumber}} name="phoneNumber">
              <p class="uk-text-right">
                  <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                  <button class="uk-button uk-button-primary"  type="submit">Save</button>
              </p>
            </form>
          </div>
        </div>
  </div>


