<nav class="uk-navbar">
  <ul class="uk-navbar-nav">
    <span hclass="uk-navbar-center">Nanny App</span>
      <li class="uk-active"><a [routerLink]="['/']">Home</a></li>
      <li class="uk-active"><a [routerLink]="['/schools']">Schools</a></li>
      <li class="uk-parent"><a [routerLink]="['/aboutUs']">About US</a></li>
      <li class="uk-parent"><a [routerLink]="['/account']">Account</a></li>
      <li class="uk-parent"><a [routerLink]="['/goal']">Nanny Goals Project</a></li>
  </ul>
</nav>

<div class="uk-container">
  <div *ngIf="router.url === '/'; then condition1 else condition2"></div>
    <ng-template #condition1>
        <article class="uk-article">
          <h1 class="uk-article-title">Welcome</h1>
            <p class="uk-article-meta">.wnfoiep0fowemfkjdsniofundskndsockndsocndskjikhdsakjcnvsadf
              fkjdsnlfndslfj nsldafldkas mvldfmkvlkdfm lvmdflvkmfldkvldfjvndfkjlvfdlkvm
              fdjvnofdvporeamfpoierjrimprwefk odsijfoew ewodeowipdew doewdijewoidew
            </p>
          <p class="uk-article-lead">...</p>
          ...
            <hr class="uk-article-divider">
          ...
          </article>

        </ng-template>



          <ng-template #condition2>
            <router-outlet></router-outlet>
          </ng-template>


</div>
