
<form autocomplete="off" [formGroup]="schoolForm" >
        <legend>School Application</legend>
        <label for='school'>Name of school</label>
      <div class="form-group" >
          <div class="uk-form-row">
              <input type="text"class="form-control"  formControlName="nameOFschool"  name="nameOfSchool" placeholder="">
            </div>
          </div>
        <label for='province'>Province</label>
    <div class="form-group">
          <div class="uk-form-row">
            <input type="text" placeholder=""  formControlName="province" class="form-control" id="province"  name="province">
          </div>
      </div>
        <label for='email'>Email</label>
     <div class="form-group">
        <div class="uk-form-row">
          <input placeholder="" formControlName="email"  type="email" class="form-control" name="email">
        </div>
      </div>
        <label for='phone'>Phone Number</label>
        <div class="form-group">
          <div class="uk-form-row">
            <input type="tel" placeholder="" formControlName="phoneNumber" class="form-control"  name='phoneNumber'>
          </div>
        </div>

    <button type="button" (click)="onsubmit()" [disabled]="schoolForm.pristine || schoolForm.invalid" class="btn btn-success">Submit</button>
</form>
